experiment_type: nn
Architecture:
  class: LSTM
  parameters:
    output_size: 1
    hidden_size: 128
    fc_units: 256
    num_layers: 3
    dropout1: 0.03774066229563841
    dropout2: 0.01072662850860337
Training:
  seed: 42
  dataset_id: PPGDalia
  dataset_class: SequentialDataset
  batch_size: 256
  num_epochs: 100
  optimizer: Adam
  optimizer_params:
    lr: 0.0013755353532262462
  loss_function: MSELoss
